h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 60px;
  padding-bottom: 60px;
  padding-top: 15px;
}
h2{
  font-weight: bolder;
  font-size: 30px;
}

h3 {
  font-weight: bolder;
  font-size: 20px;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url("../img/pingPong.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  color : #f7eadc;
  font-size: 16px;
}

#main {
  text-align: left;
  padding-left:240px;

}
label{
  font-size: 30px;
  padding-top: 25px;
}
input{
  color : black;
  font-size: 18px;
}

#refresh {
  margin-top: 10px;
  border-radius: 4px;
  font-size: 15px;
  color : white;
  background-color: #022e75;
}


a{
  color :#8ae2ea;
}

.sidebar  {
  padding-top:10px;
  list-style:none;
  padding-left:0;
}

ul {

}

hr  {
  margin:0;
  padding:0;
  width:150px;

}

#style{
  font-weight: bold;
  font-size: 18px;
  padding-top: 15px;
}

.left {
  position:absolute;
  left:0;
  width:400px;
  padding-left:40px;
}
